.headerContainer {
  background-color: white;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.headerInner {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 4rem;
  position: relative;
}

.headerLogo {
  flex-grow: 1;
  color: #45583e;
  /* color: #bdc8b8; */
  font-size: 26px;
  font-weight: 800;
}

.headerMenu {
  display: table;
}

.headerMenuItem {
  padding: 0 6px;
  border-left: 1px solid #d9d9d9;
  display: table-cell;
  position: relative;
  vertical-align: middle;
}
