.layoutContainer {
  background-color: whitesmoke;
  color: #45583e;
  /* font-family: RocknRollOne-Regular; */
}

.container {
  padding: 0 1rem;
  max-width: 1000px;
  margin: 0rem auto 0rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
